<h1>Products</h1>
<%= image_tag "product.jpeg" %>

<p>Only the finest for our customers!</p>

<% if @products.any? %>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    All products
  </button>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <ul>
        <% @products.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <p>Hold your horses, we're still stocking the shelves!</p>
<% end %>
<br>
<br>
<p><%= link_to "Enter new product", new_product_path %></p>